@use "theme";

@function gtk-alpha($color, $opacity) {
    @return #{"alpha(#{$color}, #{$opacity})"}
}

.bar {
    & > centerbox {
        background-color: theme.$bg_color;

        border-radius: 2em;
        margin: 10px 10px 0px 10px;
        padding: 4px 6px;
    }
}

@mixin badge {
    padding: 0 0.5em;
    border-radius: 1em;
    font-weight: normal;
}

@mixin circular {
    padding: 0px 4px;
    border-radius: 50%;
}

.usage-badge {
    @include badge;
}

#cpu-badge icon, #memory-badge icon {
    font-size: 1.05em;
}

#network-badge {
    separator {
        background-color: #ddd;
    }
}

#workspaces {
    background-color: theme.$view-bg-color;
    padding: 2px 12px;
    border-radius: 1em;
}

.workspace {
    border-radius: 1em;
    padding: 0 2px;
    min-height: 0;

    background-color: theme.$inactive_color;
    font-size: small;

    &.active {
        padding: 0 8px;
        background-color: theme.$active_color;
    }

    &:hover {
        background-color: theme.$active_color;
    }
}

.tray-item {
    background: transparent;
    padding: 0;
}

#audio {
    @include badge;
}

#time-and-notifications {
    @include badge;
    background-color: white;
    color: black;

    icon {
        font-size: 1.05em;
    }
}

#time-and-notifications:hover {
    background-color: whitesmoke;
}

#time-and-notifications:active {
    background-color: #cfcfcc;
}

#power-button {
    @include circular;
    icon {
        font-size: 1.2em;
    }
}
