@use "theme";
@use "sass:color";
@use "sass:math";

@function gtk-alpha($color, $opacity) {
    @return #{"alpha(#{$color}, #{$opacity})"}
}

.bar {
    & > box {
        background-color: theme.$bg_color;

        border-radius: 2em;
        margin: 10px 10px 0px 10px;
        padding: 4px 6px;
    }
}

@mixin badge {
    padding: 0 0.5em;
    border-radius: 1em;
    font-weight: normal;
}

@mixin circular {
    padding: 0px 4px;
    border-radius: 50%;
}

// This receives its color from the LevelBin that wraps it
.usage-badge {
    @include badge;
    background-color: transparent;
}

button.usage-badge {
    &:hover {
        background-color: rgb(15% 15% 15% / 0.08);
    }

    &:active {
        background-color: rgb(15% 15% 15% / 0.2);
    }
}

#cpu-badge image, #memory-badge image {
    font-size: 1.05em;
}

#network-badge {
    separator {
        background-color: #ddd;
    }
}

// menu buttons include a button inside them
#audio > button {
    @include badge;
    text-shadow: 1px 1px 1px rgb(15% 15% 15% / 0.5);
    background-color: transparent;

    &:hover {
        background-color: rgb(15% 15% 15% / 0.08);
    }

    &:active, &:checked {
        background-color: rgb(15% 15% 15% / 0.2);
    }
}

#audio-quick-menu .mute-button {
    padding: 3px 7px;
}

#workspaces {
    background-color: theme.$view-bg-color;
    padding: 2px 12px;
    border-radius: 1em;
}

.workspace {
    border-radius: 1em;
    padding: 0 6px;
    // min-width: 16px;
    min-height: 0;

    background-color: var(--theme-inactive);
    font-size: small;
    font-weight: bold;

    transition: padding .2s ease-out, background-color .2s ease-out;

    &.active {
        padding: 0 12px;
        background-color: var(--theme-active);
    }

    &.dragging {
        opacity: 0.75;
    }

    &:hover:not(.dragging) {
        background-color: var(--theme-active);
    }
}

.tray-item > button {
    background: transparent;
    padding: 0;
}

#time-and-notifications {
    @include badge;
    background-color: white;
    color: black;

    image {
        font-size: 1.05em;
    }
}

#time-and-notifications:hover {
    background-color: whitesmoke;
}

#time-and-notifications:active {
    background-color: #cfcfcc;
}

#power-button button {
    @include circular;
    image {
        font-size: 1.2em;
    }
}
