@use "theme";
@use "sass:color";
@use "sass:math";

@function gtk-alpha($color, $opacity) {
    @return #{"alpha(#{$color}, #{$opacity})"}
}

.bar {
    & > box {
        background-color: theme.$bg_color;

        border-radius: 2em;
        margin: 10px 10px 0px 10px;
        padding: 4px 6px;
    }
}

@mixin badge {
    padding: 0 0.5em;
    border-radius: 1em;
    font-weight: normal;
}

@mixin circular {
    padding: 0px 4px;
    border-radius: 50%;
}

.usage-badge {
    @include badge;
    image {
        color: white;
    }
}

$usage-steps: 6;
@for $i from 0 to $usage-steps {
    $base-color: color.mix(theme.$active_color, theme.$inactive_color, math.div($i, $usage-steps - 1) * 100%, $method: oklch);
    .usage-badge.step-#{$i} {
        background-color: $base-color;
    }
    button.usage-badge.step-#{$i} {
        &:hover {
            background-color: color.adjust($base-color, $lightness: -3%, $chroma: -3%, $space: oklch);
        }
        &:active {
            background-color: color.adjust($base-color, $lightness: -7.5%, $chroma: -7.5%, $space: oklch);
        }
    }
}


#cpu-badge image, #memory-badge image {
    font-size: 1.05em;
}

#network-badge {
    separator {
        background-color: #ddd;
    }
}

#workspaces {
    background-color: theme.$view-bg-color;
    padding: 2px 12px;
    border-radius: 1em;
}

.workspace {
    border-radius: 1em;
    padding: 0 2px;
    min-width: 16px;
    min-height: 0;

    background-color: theme.$inactive_color;
    font-size: small;
    font-weight: bold;

    transition: padding .2s ease-out, background-color .2s ease-out;;

    &.active {
        padding: 0 8px;
        background-color: theme.$active_color;
    }

    &.dragging {
        opacity: 0.75;
    }

    &:hover:not(.dragging) {
        background-color: theme.$active_color;
    }
}

.tray-item {
    background: transparent;
    padding: 0;
}

// menu buttons include a button inside them
#audio > button {
    @include badge;
}

#audio-quick-menu .mute-button {
    padding: 3px 7px;
}

#time-and-notifications {
    @include badge;
    background-color: white;
    color: black;

    image {
        font-size: 1.05em;
    }
}

#time-and-notifications:hover {
    background-color: whitesmoke;
}

#time-and-notifications:active {
    background-color: #cfcfcc;
}

#power-button button {
    @include circular;
    image {
        font-size: 1.2em;
    }
}
