#notification-popup-window {
    // This is supposed to be transparent.
    background-color: transparent;
    margin: 10px 10px 0 0;
}

.notification {
    background-color: var(--window-bg-color);
    border-radius: 10px;

    .header, .layout{
        padding: 8px;
    }

    .actions {
        padding: 0 8px 8px 8px;
    }

    .close-button {
        padding: 0px 4px;
        border-radius: 50%;
    }

    .header-separator {
        margin: 0px 8px;
    }

    progressbar trough {
        border-radius: 0;
    }

    progressbar progress {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }

    .layout-profile {
        .title {
            font-size: 1.1em;
            font-weight: bold;
        }

        .rounded-wrapper {
            border-radius: 50%;
        }
    }
}

#notification-center {
    background-color: var(--window-bg-color);
    border-radius: 16px;
    margin: 10px;
    padding: 8px;

    .panel {
        background-color: var(--view-bg-color);
        padding: 8px;
        border-radius: 8px;
    }

    // TODO: Make this not suck.
    .weather {
        .temperature-main {
            font-size: 1.5em;
            font-weight: bold;
        }

        .temperature-range {
            font-size: 1.2em;
            opacity: 0.75;
        }

        .big-icon {
            background-color: dodgerblue;
            padding: 12px;
            border-radius: 24px;
        }

        .timestamp {
            font-weight: bold;
        }
    }


}
