#notification-center {
    background-color: var(--window-bg-color);
    border-radius: 16px;
    margin: 10px;
    padding: 8px;

    .panel {
        background-color: var(--view-bg-color);
        padding: 8px;
        border-radius: 8px;
    }

    .weather {
        .temperature-main {
            font-size: 1.5em;
            font-weight: bold;
        }

        .temperature-range {
            font-size: 1.2em;
            opacity: 0.75;
        }

        .timestamp {
            font-weight: bold;
        }
    }

    .weather .main-icon {
        &.day {
            background-color: #6e9dd5;
        }

        &.night {
            background-color: #161b2d;
        }

        padding: 12px;
        border-radius: 24px;
    }

    .precise-clock {
        background-color: var(--view-bg-color);
        padding: 8px;
        border-radius: 8px;
        font-size: 1.5rem;
    }

    .calendar {
        border: none;
        border-radius: 8px;
    }
}
