@use "sass:color";
@use "sass:math";

.bar > box {
    background-color: var(--window-bg-color);
}

.bar.floating {
    --margin: 10px;

    & > box {
        border-radius: 2em;
        margin: var(--margin) var(--margin) 0px var(--margin);
        padding: 4px 6px;
    }
}

.bar.attached > box {
    padding: 6px 8px;
}

@mixin badge {
    padding: 0 0.5em;
    border-radius: 1em;
    font-weight: normal;
}

@mixin circular {
    padding: 0px 4px;
    border-radius: 50%;
}

// This receives its color from the BackgroundBin that wraps it
.usage-badge {
    @include badge;
    background-color: transparent;
    text-shadow: 1px 1px 1px rgb(15% 15% 15% / 0.3);
    -gtk-icon-shadow: 1px 1px 1px rgb(15% 15% 15% / 0.3);
}

button.usage-badge {
    &:hover {
        background-color: rgb(15% 15% 15% / 0.08);
    }

    &:active {
        background-color: rgb(15% 15% 15% / 0.2);
    }
}

#network-badge {
    separator {
        background-color: #ddd;
    }
}

// menu buttons include a button inside them
#audio > button {
    @include badge;
    text-shadow: 1px 1px 1px rgb(15% 15% 15% / 0.3);
    -gtk-icon-shadow: 1px 1px 1px rgb(15% 15% 15% / 0.3);
    background-color: transparent;

    &:hover {
        background-color: rgb(15% 15% 15% / 0.08);
    }

    &:active, &:checked {
        background-color: rgb(15% 15% 15% / 0.2);
    }
}

#audio-quick-menu .mute-button {
    padding: 3px 7px;
}

#workspaces {
    background-color: var(--view-bg-color);
    padding: 2px 12px;
    border-radius: 1em;
}

.workspace {
    border-radius: 1em;
    min-height: 0;

    font-size: small;
    font-weight: bold;

    padding: 0 10px;
    background-color: var(--theme-inactive);
    transition: padding .2s ease-out, background-color .2s ease-out;

    &.active {
        padding: 0 16px;
        background-color: var(--theme-active);
    }

    &.dragging {
        opacity: 0.75;
    }

    &:hover:not(.dragging) {
        background-color: var(--theme-active);
    }
}

.tray-item > button {
    background: transparent;
    padding: 0;
}

#time-and-notifications {
    @include badge;
    background-color: white;
    color: black;
}

#time-and-notifications:hover {
    background-color: whitesmoke;
}

#time-and-notifications:active {
    background-color: #cfcfcc;
}

#power-button button {
    @include circular;
}
