@use "sass:color";
@use "sass:math";

.bar {
    background-color: transparent;
}

.bar>box {
    background-color: var(--window-bg-color);
    padding: 4px;
}

.bar.floating>box {
    border-radius: 10px;
}

@mixin badge {
    padding: 0 0.5em;
    border-radius: 6px;
    font-weight: normal;
}

// This receives its color from the BackgroundBin that wraps it
.usage-badge {
    @include badge;
    background-color: transparent;
    text-shadow: 1px 1px 1px rgb(15% 15% 15% / 0.3);
    -gtk-icon-shadow: 1px 1px 1px rgb(15% 15% 15% / 0.3);
}

button.usage-badge {
    &:hover {
        background-color: rgb(15% 15% 15% / 0.08);
    }

    &:active {
        background-color: rgb(15% 15% 15% / 0.2);
    }
}


// menu buttons include a button inside them
.menubutton-usage-badge > button {
    @include badge;
    text-shadow: 1px 1px 1px rgb(15% 15% 15% / 0.3);
    -gtk-icon-shadow: 1px 1px 1px rgb(15% 15% 15% / 0.3);
    background-color: transparent;

    &:hover {
        background-color: rgb(15% 15% 15% / 0.08);
    }

    &:active,
    &:checked {
        background-color: rgb(15% 15% 15% / 0.2);
    }
}

.icon-view-box {
    background-color: var(--view-bg-color);
    border-radius: 1em;
}

#connectivity {
    .after-label {
        margin-left: 4px;
    }

    .ap-list {
        border-radius: 8px;
    }

    ap-entry {
        min-height: 24px;
        padding-left: 4px;
        padding-right: 4px;
    }

    ap-entry.known {
        padding-right: 0;
    }

    .ap-settings {
        padding: 0;
        border-radius: 6px;
    }
}

#bluetooth {
    .bt-device-list {
        border-radius: 8px;
    }

    bt-entry {
        min-height: 24px;
        padding-left: 4px;
        padding-right: 4px;
    }
}

#idle-inhibit {
    @include badge;
    background-color: var(--destructive-bg-color);

    &:hover {
        background-color: color-mix(in srgb, var(--destructive-bg-color), rgb(15% 15% 15%) 8%);
    }

    &:active {
        background-color: color-mix(in srgb, var(--destructive-bg-color), rgb(15% 15% 15%) 20%);
    }
}

.workspace {
    border-radius: 1em;
    min-height: 0;

    font-size: small;
    font-weight: bold;

    padding: 0 10px;
    background-color: var(--theme-inactive);
    transition: padding .2s ease-out, background-color .2s ease-out;

    &.active {
        padding: 0 16px;
        background-color: var(--theme-active);
    }

    &.dragging {
        opacity: 0.75;
    }

    &:hover:not(.dragging) {
        background-color: var(--theme-active);
    }
}

#workspaces {
    padding: 2px 12px;
}

.tray-item > button {
    background: transparent;
    padding: 0;
}

#audio-quick-menu .mute-button {
    padding: 3px 7px;
    min-width: 16px;
}

#time-and-notifications {
    @include badge;
    background-color: white;
    color: black;
}

#time-and-notifications:hover {
    background-color: whitesmoke;
}

#time-and-notifications:active {
    background-color: #cfcfcc;
}

#power-button button {
    padding: 0px 4px;
    border-radius: 6px;
    background-color: #f8f8f828;

    &:hover {
        background-color: #f8f8f83c;
    }

    &:active {
        background-color: #f8f8f864;
    }
}
