.notification {
    background-color: var(--window-bg-color);
    border-radius: 10px;

    --outer-padding: 8px;
    &.critical {
        border: 2px solid var(--accent-red);
        --outer-padding: 6px;
    }

    &.popup {
        margin-top: 12px;
        margin-right: 8px;
    }

    &.stored {
        background-color: var(--view-bg-color);
    }

    .header, .content {
        padding: 8px var(--outer-padding);
    }

    .title {
            font-size: 1.125em;
            font-weight: bold;
        }

    .actions {
        padding: 0 var(--outer-padding) var(--outer-padding) var(--outer-padding);
    }

    .debug-button > button {
        padding: 0 var(--outer-padding);
    }

    .close-button {
        padding: 0px 0px;
        border-radius: 50%;
    }

    .header-separator {
        margin: 0px var(--outer-padding);
    }

    notification-image.layout-default {
        picture {
            border-radius: 8px;
        }
    }

    notification-image.layout-message {
        picture {
            border-radius: 50%;
        }
    }

    progressbar trough {
        border-radius: 0;
    }

    progressbar progress {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }
}
