osd {
    background: none;
}

.osd-box {
    padding: 12px 16px;
    border-radius: 8px;
    background-color: rgb(5% 5% 5% / 0.7);
}

.osd-bar.overfilled block.filled {
    background: linear-gradient(90deg, var(--theme-active), var(--theme-inactive), var(--theme-active));
}

osd.muted .osd-bar block.filled {
    background-color: var(--window-fg-color);
}
